* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: #d3eff1;
    font-family: 'Mukta Malar', 'Esteban', 'Gilda Display';
    font-size: 20px;
    color: black;
    
}

header {
    display: grid;
    align-items: center; 
    margin: 1rem;
    grid-template-columns: 110px 1fr 1fr;
}

li {
    display: inline;
}

li a {
    color: rgb(2, 0, 0);
    font-size: 16px;
    font-weight: bold;
    padding: 1px 15px;
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;  
}

h1, h2 {
    text-align: center;
}


h3, p {
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
}

main {
    position: relative;
    padding: 1rem;

}

header,footer {
    background-color: #49A9FC;
}


footer {
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
    padding: 1rem;
    gap: 0.5em;
    align-items: center;
}



/* Class Selectors *******************/
.page{
    max-width: 1040px;
    margin: 0 auto;
 
}

.navigation { 
    display: flex;
  
}

.navigation li {
    flex: 1 1 auto;
    
}

.navigation a {
    display: block;
    padding: 1rem;

}

.herodiv {
    position: relative;
    margin: 10px auto;
}

.cta {
    position: absolute;
    background:  radial-gradient(white, #49A9FC);
    border: 1px solid black;
    padding: 1rem;
    box-shadow: 0 0 30px blue;
    opacity: 0.9;
    font-size: 20px;
    font-weight: bold;
    right: 85px;
    margin: 10px;
    top: 50px;
    border-radius: 10px;
}

.experience {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;  
}

.experience p {
    padding: 3rem;
    text-align: left;
}

.moment {
    display: grid;
    padding: 1rem;
}

.moment h3 {
    grid-column: 3;
}

.moment p {
    grid-column: 3;
    padding: 3rem;
    text-align: left;
}

.locations {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    padding: 2rem;
}

.river h2 {
    text-align: center;
    font-size: 25px;
}

.river a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}   

.river p {
    text-align: left;
}

.grid-testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    gap: 1rem;
    
}

.grid-items {
    padding: 10px;
    border: 2px black;

}

.pages {
    padding: 1rem;
    cursor: pointer;
    cursor: pointer;
    text-align: center;
  }

/* .button, a:hover {
    border: none;
    text-decoration: none;
    cursor: pointer;
  } */

.pointers a {
    font-size: 25px;
    padding: 1rem;
    text-decoration: none;
    color: black;
    }

.pages a:hover {
      background-color: #49A9FC;
      margin: 1rem;
      padding: 1rem;
    
    }
