* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: #d3eff1;
    line-height: normal;
    font-family: 'Mukta Malar', 'Esteban', 'Gilda Display';
    font-size: 16px;
    
    
}

header {
    display: grid;
    align-items: center; 
    margin: 1rem;
    grid-template-columns: 70px 1fr 1fr;
}

li {
    display: inline;
}

li a {
    color: rgb(2, 0, 0);
    font-size: 16px;
    font-weight: bold;
    padding: 1px 15px;
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;  
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    font-size: 20px;
}

h3, p {
    grid-column: 1/3;
    grid-row: 1;
}

h3 {
    align-items: center;
}

main {
    /* display: grid; */
    position: relative;
    padding: 1rem;
    /* grid-template-columns: 1/2;
    grid-template-rows: 1/4; */

}

header,footer {
    background-color: #49A9FC;
    /* display: flex; */
    font-size: 16px;
}


footer {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}



/* Class Selectors *******************/
.page{
    max-width: 1040px;
    margin: 0 auto;
 
}

.navigation { 
    display: flex;
  
}

.navigation li {
    flex: 1 1 auto;
    
}

.navigation a {
    display: block;
    padding: 1rem;

}

.herodiv {
    position: relative;
    margin: 10px auto;
}

.cta {
    position: absolute;
    background:  radial-gradient(white, #49A9FC);
    border: 1px solid black;
    padding: 1rem;
    box-shadow: 0 0 30px blue;
    opacity: 0.9;
    font-size: 20px;
    font-weight: bold;
    right: 85px;
    margin: 10px;
    top: 50px;
}

.experience {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;  
}

.experience h3 {
    text-align: center;
}

.experience p {
    padding: 3rem;
}

.moment {
    display: grid;
    padding: 1rem;
}

.moment picture {
    grid-column: 1/3;
    grid-row: 1;
}

.moment h3 {
    grid-column: 3;
    padding: 1rem;
    text-align: center;
}

.moment p {
    grid-column: 3;
    padding: 3rem;
}

.message {
    text-indent: 30px;
}

.locations {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    padding: 2rem;
}

.river h2 {
    text-align: center;
    font-size: 25px;
}

.river a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: black;
}   

.grid-testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 1rem;
}

.grid-items {
    padding: 10px;
    border: 2px black;

}

.pointers, h {
    color: black;
    padding: 1rem;
    cursor: pointer;
    border: none;
    background-color: #d3eff1;
    cursor: pointer;
    text-align: center;
  }

.center {
    text-align: center;
    font-size: 16px;
}


.button:hover {
      background-color: #49A9FC;
  }

.center, a {
    font-size: 25px;
    padding: 1rem;
    text-decoration: none;
    color: black;
    }

.pages a:hover {
      background-color: #49A9FC;
      margin: 1rem;
      padding: 1rem;
    
    }
